pkgbase = rapiddisk-dkms
	pkgdesc = RapidDisk kernel modules (DKMS) and rapiddisk management utility
	pkgver = 5.0
	pkgrel = 4
	url = http://www.rapiddisk.org/
	install = rapiddisk-dkms.install
	arch = i686
	arch = x86_64
	license = GPL2
	depends = dkms
	depends = jansson
	conflicts = rapiddisk
	source = rapiddisk-dkms::git+https://github.com/pkoutoupis/rapiddisk.git
	source = discard_zeroes_data.patch
	source = comparison_between_pointer_and_zero_character_constant.patch
	sha256sums = SKIP
	sha256sums = 8f88a031f1616cc2d7f797ae95dec1690c5bf1702afbaebe6760ec166bcf380b
	sha256sums = ae4c555eb692210bcd083530a411affd1da8afc87fca17a61f2e13d0111b17df

pkgname = rapiddisk-dkms

